@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
    }

    :root {
        --color-0: #FF0000;
        --color-1: rgb(255, 255, 255);
        --color-2: #100e34;
        --color-3: #4f48ec;
        --color-4: #38d6eb;
        --color-5: #eeeeeec7;
        --color-6: rgb(131, 30, 131);
    }
    
    .nav {
        display: block;
        width: 280px;
        height: 100%;
        padding: 15px 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--color-3);
    }
    
    .nav .logo {
        width: 100%;
        height: 50px;
        margin-bottom: 50px;
        text-transform: uppercase;
        color: var(--color-1);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all .4s ease-in-out;
    }
    
    .nav .logo .bi {
        margin-right: 15px;
        font-size: 32px;
        transition: all .4s ease-in-out;
    }
    
    .nav .logo span {
        font-weight: 900;
        font-size: 22px;
    }
    
    .nav .menu {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
    }
    
    .nav .menu li {
        display: block;
        padding-left: 20px;
        margin-bottom: 10px;
    }
    
    .nav .menu li a {
        width: 100%;
        display: flex;
        align-items: center;
        color: var(--color-1);
        text-transform: uppercase;
        font-size: 16px;
        padding: 10px;
        text-decoration: none;
        border-radius: 30px 0 0 30px;
        transition: all ease-in-out .4s;
    }
    
    .nav .menu li a .bi {
        margin-right: 15px;
    }
    
    .nav .menu li a:hover {
        color: var(--color-3);
        background-color: var(--color-1);
    }
    
    .nav .menu li.active a {
        color: var(--color-3);
        background-color: var(--color-1);
    }

    body {
 /*        background-color: gray; vc esta comentado */
        background-image: linear-gradient(to right, rgb(77, 77, 228), rgb(148, 114, 211));
    }

    input, label {
        width: 100%;
    }

    input:focus, label:focus {
        outline: none;
    }

    a {
        color: var(--color-0);
    }

    #main-container {
        width: 800px;
        height: 580px;
        margin-left: 30%;
        margin-right: auto;
        margin-top: 25px;
        background-color: rgba(255, 255, 255, 0.836);
        border-radius: 10px;

        padding: 25px;
    }

    #main-container h1 {
        text-align: center;
        margin-bottom: px;
        font-size: 1.6rem;
        
    }

   .div_container {
    flex-wrap: wrap;
    justify-content: space-between;
   }

   .full-box1{
    flex: 100%;
    
   }

    .full-box {
        flex: 100%;
        display: flex;
        justify-content: center;
    }

    /* .half-box {
       flex: 50%;
       margin-bottom: 5px;
       margin-right: 2.5%;
    } */

    /* .spacing {
        flex: 29%;
    } */

    label {
        font-weight: bold;
        font-size: .8rem;
    }

    input {
        border-bottom: 2px solid #323232;
        padding: 7px;
        font-size: .9rem;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.658);
        border-radius: 5px;
    }

    input:focus {
      border-color: #E60084;
    }

    input[type="submit"] {
     background-color: var(--color-6);
     color: #FFF;
     border: none;
     border-radius: 20px;
     height: 40px;
     cursor: pointer;
     width: 50%;
    }

    #agreement {
        margin-right: 5px;
    }

    #agreement, #agreement-label {
        display: inline-block;
        width: auto;
    }

    .title_align {
        display: flex;
    }